@{
    // No need Layout statement since we have write it in _ViewStart.cshtml
    // Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Products";
}

<h1>Products</h1>
<p>Product list here</p>