@{
    // No need Layout statement since we have write it in _ViewStart.cshtml
    // Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Order";
}

<h1>Order Product</h1>
<p>Order details here</p>