@{
    // Here we override Layout value which we set in _ViewStart.cshtml global one 
    Layout = "~/Views/Shared/_ProductLayout.cshtml";
    ViewData["Title"] = "Search";
}

<h1>Search Products</h1>
<p>Search details here</p>