<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="navbar">
            <div class="navbar-brand">AspNet Core App</div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about-company">About</a></li>
                <li><a href="/contact-support">Contact</a></li>
                <li><a href="/products">All Products</a></li>
                <li><a href="/search-products">Search</a></li>
                <li><a href="/order-products">Order</a></li>
            </ul>
        </div>

        <div class="page-content">
            @RenderBody()
        </div>

        <div class="footer-content">
            @* 
            Render the section we define in contact.cshtml. Notice the second argument, 
            if not provided with false, exception will be thrown because cannot found the 
            section for the first time run 
            *@
            @RenderSection("footer_section", false)
        </div>
    </div>
</body>
</html>
