@model PersonResponse

@{
    ViewBag.Title = "Delete Person";
}

<!-- Breadcrumb Starts -->
<div class="flex">
    <div class="flex-1">
        <div class="text-grey">
            <span>Contact</span>
            <i class="fa-solid fa-caret-right"></i>
            <span>Person</span>
            <i class="fa-solid fa-caret-right"></i>
            <span>Delete</span>
        </div>
    </div>
</div>
<!-- Breadcrumb Ends -->

<div class="form-container">
    <a asp-controller="person" asp-action="index" class="link-hover">Back to Person List</a>
    <h2 class="text-large">Delete Person</h2>
    <h3>Are you sure to delete this person?</h3>

    <form asp-controller="person" asp-action="delete" method="post">
        @* id *@
        <input type="hidden" asp-for="Id" />

        @* Name *@
        <div class="form-field flex">
            <div class="w-25">
                <label asp-for="Name" class="form-label pt">Name</label>
            </div>
            <div class="flex-1">
                <input asp-for="Name" disabled class="form-input" />
                <span asp-validation-for="Name" class="text-red"></span>
            </div>
        </div>

        @* Email *@
        <div class="form-field flex">
            <div class="w-25">
                <label asp-for="Email" class="form-label pt">Email</label>
            </div>
            <div class="flex-1">
                <input asp-for="Email" disabled class="form-input" />
                <span asp-validation-for="Email" class="text-red"></span>
            </div>
        </div>

        @* Submit Button *@
        <div class="form-field flex">
            <div class="w-25">
            </div>

            <div class="flex-1">
                <button class="button button-red-back">Delete</button>
                <div asp-validation-summary="All" class="text-red"></div>
                @if (ViewBag.Errors != null)
                {
                    <div class="text-red ml">
                        <ul>
                            @foreach (string error in ViewBag.Errors)
                            {
                                <li class="ml">@error</li>
                            }
                        </ul>
                    </div>
                }
            </div>
        </div>
    </form>
</div>