@{
    if (ViewBag.ProductId != null)
    {
        Layout = "~/Views/Shared/_ProductLayout.cshtml";
    }
    
    ViewData["Title"] = "Search";
}

<h1>Search Products</h1>
<p>Search details here</p>