@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    // Notice this lifetime of 'ViewData', it will still live in the Layout page according to sequence
    // of rendering of view (ViewImports -> ViewStart -> Controller View -> LayoutView)
    // We use this 'ViewData["Title"]' at _Layout.cshtml
    ViewData["Title"] = "Products";
}

<h1>Products</h1>
<p>Product list here</p>