<!DOCTYPE html>
<html>
    <head>
        @* Head contains non-content information related tags such as title tag, meta tag, and link tag mainly *@
        <title>Asp.NET Core Web App</title>
        <meta charset="utf-8" />
    </head>

    <body>
        @* Body contains the actual webpage content that you want to show to the user *@
        Welcome
    </body>
</html>

@* View may contain server-side code (C#) and clien-side code (js, html, css, etc) *@
@* The html code will not be executed on the server, but will be executed on the browser after receiving the response *@
@* So, C# first executes on the server, then the html executes on the browser *@