@* This is for Column Heading *@

<th>
    @if (ViewBag.CurrentSortBy == ViewBag.ColumnName
    && ViewBag.CurrentSortOrder == SortOrderEnum.ASC.ToString())
    {
        <a href="~/person/index?sortBy=@(ViewBag.ColumnName)&sortOrder=@SortOrderEnum.DESC&searchBy=@(ViewBag.CurrentSearchBy)&keyword=@(ViewBag.CurrentKeyword)">@(ViewBag.DisplayName)</a>
        <i class="fa-solid fa-sort-up"></i>
        // use icon from font awesome
    }
    else if (ViewBag.CurrentSortBy == ViewBag.ColumnName
    && ViewBag.CurrentSortOrder == SortOrderEnum.DESC.ToString())
    {
        <a href="~/person/index?sortBy=@(ViewBag.ColumnName)&sortOrder=@SortOrderEnum.ASC&searchBy=@(ViewBag.CurrentSearchBy)&keyword=@(ViewBag.CurrentKeyword)">@(ViewBag.DisplayName)</a>
        <i class="fa-solid fa-sort-down"></i>
        // use icon from font awesome
    }
    else // current sortBy maybe other than PersonName
    {
        <a href="~/person/index?sortBy=@(ViewBag.ColumnName)&sortOrder=@SortOrderEnum.ASC&searchBy=@(ViewBag.CurrentSearchBy)&keyword=@(ViewBag.CurrentKeyword)">@(ViewBag.DisplayName)</a>
    }
</th>