
<h1>Home</h1>
<div class="box">
    @* Invoke partial view we have created *@
    @* But before that, we have to import the tag helper in order to use it (look at ~/Views/_ViewImports.cshtml) *@
    <partial name="_ListPartialView"></partial>
</div>