@* Now we use the Model object to contain our model *@
@* Strongly Typed View Components *@
@model PersonGridModel

<div class="box">
    
    @* <h3>@ViewBag.Grid.GridTitle</h3> *@
    <h3>@Model.GridTitle</h3>

    <table class="table w-100">
        <thead>
            <tr>
                <th>Name</th>
                <th>Job Title</th>
            </tr>
        </thead>

        <tbody>
            @* @foreach (Person person in ViewBag.Grid.Persons) *@
            @foreach (Person person in Model.Persons)
            {
                <tr>
                    <td>@person.Name</td>
                    <td>@person.JobTitle</td>
                </tr>
            }
        </tbody>
    </table>
</div>